@charset "UTF-8";

*{
    padding:0px;
    margin:0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-variant: small-caps;
    padding-top: 50px;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover{
    text-decoration: underline;
}

section{
    padding: 10vh 0px;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
}

section.imagem{
    background-color: rgb(33, 33, 33);
    color:white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.408);
    max-width: 400px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
